:root {
  --purple: #5D42D6;
  --blue: #071E22;
  --green: #8bc3b4;
  --red: #f45b69;
  --white: #ffffff;
  --black: #000000;
  --opal: #a9d2c9;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--black);
  background-color: var(--white);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

header{
  background-color: var(--blue);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding: 0 9px;
  background-color: var(--blue);
}

a:hover {
  color: var(--purple);
}

.align-center {
  align-items: center;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.justify-space-between {
  justify-content: space-between;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right;
  font-size: 2rem;
  padding: 0 9px;
}

.event-form {
  border: 2px solid var(--blue);
  padding: 20px;
  width: 50%;
  margin: auto;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: var(--opal);
  font-size: 1.5rem;
}

label {
  padding: 25px;
}

input {
  padding: 6px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

input.details{
  resize: vertical;
}

.form-title {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
}

.form-line {
  padding: 8px;
}

.form-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1rem;
}

.form-button:hover {
  background-color: var(--purple);
  cursor: pointer;
}

.created-event {
  border: 2px solid var(--green);
  padding: 10px;
  width: 50%;
  margin: auto;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: var(--blue);
  font-size: 1.5rem;
  color: white;
}

.event-title {
  background-color: var(--green);
  font-size: 1.75rem;
  border-radius: 10px;
  color: var(--blue)
}

.rsvp-button {
  background-color: var(--green);
  color: var(--blue);
  border: none;
  border-radius: 5px;
  padding: 7px 20px;;
  font-size: 1rem;
}

.rsvp-button:hover{
  background-color: var(--purple);
  cursor: pointer;
}

.space {
  padding: 16px;
}

@media screen and (max-width: 1200px) {
  label {
    width: 100%;
  }

  input {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {

  h1 {
    font-size: 2rem;
  }

  li {
    font-size: 1.5rem;
  }

  .event-form {
    font-size: 1.15rem;
  }

  .form-title {
    font-size: 1.4rem;
  }

}

@media screen and (max-width: 768px) {
  h1 {
    font-size : 1.5rem;
  }

  li{
    font-size: 1.25rem;
  }

  .form-title {
    font-size: 1.1rem;
    padding: 5px;
  }

  .event-form {
    font-size: 1rem;
  }

}

@media screen and (max-width: 640px) {

  .container {
    width: 100%;
    justify-content: center;
  }

  .game-quest {
    text-align: center;
    width: 100%;
  }

  .event-form {
    font-size: 0.9rem;
  }

}